/drush/contrib/
/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/libraries/
#Ignore local settings.local.php

/web/sites/*/settings.local.php

#Ignore Drupal's file directory

/web/sites/*files/

